<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout1"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="UTF-8">
    <title>products</title>
</head>
<body>
    <div class="p-3" layout:fragment="content1">
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/newProduct}" class="btn btn-primary m-2">New product</a>
        <table class="table">
            <thead>
               <th>ID</th>
               <th>Name</th>
               <th>Price</th>
               <th>Quantity</th>
            </thead>
            <tbody>
              <tr th:each="p:${productList}">
                  <td th:text="${p.id}"></td>
                  <td th:text="${p.name}"></td>
                  <td th:text="${p.price}"></td>
                  <td th:text="${p.quantity}"></td>
                  <td style="width: 80px">
                      <form th:action="@{/delete(id=${p.id})}" method="post">
                            <button  sec:authorize="hasRole('ADMIN')" onclick="return confirm('are you sure ?')" class="btn btn-danger"  type="submit">Delete</button>
                      </form>
                  </td>
                  <td>
                      <a sec:authorize="hasRole('ADMIN')" onclick="return confirm('want you update that product?')" class="btn btn-primary" th:href="@{/update(id=${p.id})}">Edit</a>
                  </td>
              </tr>
            </tbody>
        </table>
    </div>
</body>
</html>